html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem blueviolet;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.btn-custom {
  background-color: blueviolet;
  border-color: blueviolet;
  color: white;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5%;
}

.btn-custom:hover {
  background-color: transparent;

  color: blueviolet !important;
  border-color: blueviolet;
}


.form-background{
  background: #2a379b;
  background: linear-gradient(90deg,rgba(42, 55, 155, 1), rgba(193, 83, 237, 1));
}
.form-content{
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  width: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
  
}